@import "@/assets/styles/objects/base-text";
@import "@/assets/styles/settings/color";
@import "@/assets/styles/settings/media";
@import "@/assets/styles/utilities/line-clamp";

.profile-card-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  @include sp {
    flex-direction: column;
  }
}

.profile-card-flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.profile-card-flex-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.profile-card-button-wrapper {
  @include sp {
    width: 100%;
  }
}

.profile-card-name {
  composes: text-normal;
  font-weight: 600;
  display: block;
}

.profile-card-text {
  composes: text-x-small;
  color: $grey-main;
  composes: _line-clamp-1;
}
