@import '@/assets/styles/settings/color.module';

.nav {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.nav-item {
  font-size: 1.125rem;
  transition-property: color;
  transition-duration: 0.1s;
  &:hover {
    opacity: 0.5;
  }
}

.nav-item[aria-selected='true'] {
  color: $primary-main;
  font-weight: 600;
}

.nav-item[aria-selected='false'] {
  color: $grey-light;
  font-weight: normal;
}
