@import "@/assets/styles/settings/color";
@import "@/assets/styles/objects/base-hover";

.nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-item {
  font-size: 1.125rem;
  transition-property: color;
  transition-duration: 0.1s;
  &:hover {
    opacity: 0.5;
  }
}

.nav-item[aria-selected="true"] {
  color: $blue-main;
  font-weight: 600;
}

.nav-item[aria-selected="false"] {
  color: #718096;
  font-weight: normal;
}
