@import '@/assets/styles/settings/color.module';

.table {
  display: table;
  width: 100%;
}

// borderで敷居を入れないときに便利
.table-body {
  border-collapse: separate;
  border-spacing: 0 1px;
  border-color: $border;
}
