@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/settings/media.module';

.match-detail-container {
  /* give the outermost container a predefined size */
  position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  top: calc(50% + 35px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 576px;
  height: calc(100% - 70px);

  display: flex;
  flex-direction: column;
  background-color: $white-light;

  @include sp {
    width: 100%;
  }
}

.match-detail-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.match-detail-scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  /* for Firefox */
  min-height: 0;
}

.match-detail-scrollable-inner {
  position: absolute;
  width: 100%;
}

.match-detail-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
  background-color: #eceff1;
}
