@import "@/assets/styles/settings/color";

.panel-flame {
  border-radius: 0.5rem;
  // panel scroll
  &[data-scroll="true"] {
    overflow-y: scroll;
  }
  // panel theme and border
  &[data-theme="transparent"] {
    &[data-border="true"] {
      border: 1px solid $border;
    }
  }
  &[data-theme="primary"] {
    background-color: $primary-bg;
    color: $primary-dark;
    &[data-border="true"] {
      border: 1px solid $primary-dark;
    }
  }
  &[data-theme="danger"] {
    background-color: $red-bg;
    color: $red-dark;
    &[data-border="true"] {
      border: 1px solid $red-dark;
    }
  }
  &[data-theme="success"] {
    background-color: $green-bg;
    color: $green-dark;
    &[data-border="true"] {
      border: 1px solid $green-dark;
    }
  }

  // shape
  &[data-shape="square"] {
    border-radius: 0rem;
  }
  &[data-shape="round"] {
    border-radius: 1.5rem;
  }
}

// inner
.panel-inner {
  padding: 1rem;
}

.panel-gap-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
