@import "@/assets/styles/settings/color";

.panel-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  // panel scroll
  &[data-scroll="true"] {
    overflow-y: scroll;
  }
  // panel theme and border
  &[data-theme="transparent"] {
    &[data-border="true"] {
      border: 1px solid $border;
    }
  }
  &[data-theme="primary"] {
    background-color: $primary-bg;
    color: $primary-dark;
    &[data-border="true"] {
      border: 1px solid $primary-dark;
    }
  }
  &[data-theme="danger"] {
    background-color: $red-bg;
    color: $red-dark;
    &[data-border="true"] {
      border: 1px solid $red-dark;
    }
  }
  &[data-theme="success"] {
    background-color: $green-bg;
    color: $green-dark;
    &[data-border="true"] {
      border: 1px solid $green-dark;
    }
  }
}

.panel-inner {
  padding: 0.75rem 1rem;
}
