@import "@/assets/styles/settings/color";

.panel-wrapper {
  display: flex;
  justify-content: center;
  &[data-scroll="true"] {
    overflow: scroll;
    height: 500px;
  }
}

.panel-inner {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  &[data-theme="primary"] {
    background-color: $blue-bg;
    color: $blue-dark;
  }
  &[data-theme="secondary"] {
    background-color: $blue-bg;
    color: $blue-dark;
  }
  &[data-theme="danger"] {
    background-color: $red-bg;
    color: $red-dark;
  }
  &[data-theme="success"] {
    background-color: $green-bg;
    color: $green-dark;
  }
}
