.button-wrapper {
  display: flex;
  gap: 1rem;

  // button-wrapper-position
  &[data-position="start"] {
    justify-content: flex-start;
  }
  &[data-position="center"] {
    justify-content: center;
  }
  &[data-position="end"] {
    justify-content: flex-end;
  }

  // button-wrapper-cirection
  &[data-direction="row"] {
    flex-direction: row;
  }
  &[data-direction="column"] {
    flex-direction: column;
  }
}
