@import "@/assets/styles/settings/color";
@import "@/assets/styles/tools/main";

.badge-flame {
  position: relative;
  display: flex;
  // width: fit-content;
}

.badge {
  animation: 0.1s fade-in;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px 0;
  position: absolute;
  width: 270px;
  z-index: 5;
  border: 1px solid $border;
  background: $white;
  &[data-is-fade-out="true"] {
    animation: 0.1s fade-out;
    opacity: 0;
  }
}
