@import "@/assets/styles/objects/base-button";

$x-small: 0.5rem;
$small: 0.875rem;
$medium: 1rem;
$large: 1.125rem;

$x-small-pd: 8px;
$small-pd: 10px;
$medium-pd: 12px;
$large-pd: 14px;

.icon-button {
  composes: button;
  // override from here

  min-width: auto;

  // button-shape
  &[data-shape="round"] {
    border-radius: 9999em;
  }

  // button-size
  &[data-size="x-small"] {
    padding: $x-small-pd;
    > svg {
      width: $small;
      height: $small;
    }
  }
  &[data-size="small"] {
    padding: $small-pd;
    > svg {
      width: $small;
      height: $small;
    }
  }
  &[data-size="medium"] {
    padding: $medium-pd;
    > svg {
      width: $medium;
      height: $medium;
    }
  }
  &[data-size="large"] {
    padding: $large-pd;
    > svg {
      width: $large;
      height: $large;
    }
  }
}
