@import "@/assets/styles/settings/color";

.input-wrapper {
  display: grid;
  gap: 0.5rem;
}

.input-wrapper[data-width="full"] {
  width: 100%;
}

.input-wrapper-description {
  font-size: 0.875rem;
  color: $grey-light;
}

.input-wrapper-error {
  font-size: 0.875rem;
  color: $red-dark;
}
