@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/settings/media.module';

.input-flex-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid $border;
  border-radius: 0.5rem;

  // direction
  &[data-direction='row'] {
    flex-direction: row;
    @include sp {
      flex-direction: column;
    }
  }
  &[data-direction='column'] {
    flex-direction: column;
  }

  // error
  &[data-error='true'] {
    border-color: $red-dark;
  }
}
