@import "@/assets/styles/objects/base-text";
@import "@/assets/styles/settings/color";

.mypage-avatar {
  overflow: hidden;
  border-radius: 0.5rem;
  object-fit: cover;
  width: 45px;
  height: 45px;
}
.mypage-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mypage-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.mypage-content {
  display: grid;
  align-content: space-evenly;
}
.mypage-name {
  composes: text-normal;
  font-weight: 600;
  display: block;
}
.mypage-text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.mypage-text {
  composes: text-x-small;
  color: $grey-main;
}
