@import "@/assets/styles/settings/color";

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  height: 70px;
  backdrop-filter: blur(10px); /* 一番下のbody領域をぼやかす */
}

.header-link {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.75rem;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
