@import "@/assets/styles/settings/color";

.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  height: 70px;
}

.header-link {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.75rem;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
