@import "@/assets/styles/settings/color";

.label {
  border-radius: 0.25rem;
  padding: 0.125rem 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  &[data-theme="primary"] {
    background-color: $blue-bg;
    color: $blue-dark;
  }
  &[data-theme="secondary"] {
    background-color: $blue-bg;
    color: $blue-dark;
  }
  &[data-theme="danger"] {
    background-color: $red-bg;
    color: $red-dark;
  }
  &[data-theme="success"] {
    background-color: $green-bg;
    color: $green-dark;
  }
}
