@import '@/assets/styles/objects/base-text.module';
@import '@/assets/styles/settings/color.module';

.sub-header-back-button {
  display: inline-block;
  font-weight: 700;
}

.sub-header-title {
  composes: text-x-small;
  color: $grey-main;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
