@import "@/assets/styles/settings/color";
@import "@/assets/styles/tools/main";

.loading-dot-wrapper {
  display: flex;
  justify-content: center;
}

.loading-dot-1 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  height: 0.25rem;
  width: 0.25rem;
  background-color: $primary-main;
  border-radius: 9999px;
}

.loading-dot-2 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  height: 0.25rem;
  width: 0.25rem;
  background-color: $primary-main;
  border-radius: 9999px;
  margin-left: 1rem;
  margin-right: 1rem;
}
