@import "@/assets/styles/app.scss";

.loading-wrapper {
  display: flex;
  justify-content: center;
}
.loading-1 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #ff00ff;
  border-radius: 9999px;
}
.loading-2 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #ff00ff;
  border-radius: 9999px;
  margin-left: 1rem;
  margin-right: 1rem;
}
