@import "@/assets/styles/settings/color";
@import "@/assets/styles/tools/main";

.dropdown-menu-flame {
  position: relative;
  display: flex;
  // width: fit-content;
}

.dropdown-menu {
  animation: 0.05s fade-in;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px 0;
  position: absolute;
  width: 270px;
  z-index: 5;
  border: 1px solid $border;
  background: $white;
  &[data-is-fade-out="true"] {
    animation: 0.05s fade-out;
    opacity: 0;
  }
}

.dropdown-menu-topLeft,
.dropdown-menu-topCenter,
.dropdown-menu-topRight {
  margin-bottom: 8px;
}

.dropdown-menu-bottomLeft,
.dropdown-menu-bottomCenter,
.dropdown-menu-bottomRight {
  margin-top: 8px;
}

.dropdown-menu-topLeft,
.dropdown-menu-bottomLeft {
  left: 0;
}

.dropdown-menu-topRight,
.dropdown-menu-bottomRight {
  right: 0;
}

.dropdown-menu-rightTop,
.dropdown-menu-rightCenter,
.dropdown-menu-rightBottom {
  /* Menuの横幅256px + margin8px */
  right: -264px;
}

.dropdown-menu-leftTop,
.dropdown-menu-leftCenter,
.dropdown-menu-leftBottom {
  /* Menuの横幅256px + margin8px */
  left: -264px;
}

.dropdown-menu-rightTop,
.dropdown-menu-leftTop {
  top: 0;
}

.dropdown-menu-rightBottom,
.dropdown-menu-leftBottom {
  bottom: 0;
}
