@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/tools/main.module';

.dropdown-menu {
  animation: 0.1s fade-in;
  background: $white;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px 0;
  position: absolute;
  z-index: 5;
  border: 1px solid $border;

  &[data-is-fade-out='true'] {
    animation: 0.1s fade-out;
    opacity: 0;
  }
}
