/* Object Layer */

// 70px = header・footer
// 2rem = padding

@mixin base-container {
  width: 100%;
  min-height: calc(100vh - 70px - 2rem);
}

.container-pc {
  @include base-container;
}

.container-sp {
  @include base-container;
  width: 576px;
  margin: auto;
  &[data-footer="true"] {
    margin-bottom: 70px;
  }
}

.container-inner {
  padding: 1rem;
}
