@import "@/assets/styles/settings/color";

$small: 0.875rem;
$medium: 1rem;
$large: 1.125rem;

$small-pd-y: 10px;
$medium-pd-y: 12px;
$large-pd-y: 14px;

$small-pd-x: 18px;
$medium-pd-x: 22px;
$large-pd-x: 26px;

.button {
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1;
  // min-width: 100px;
  align-items: center;
  border-radius: 0.5em;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;

  &[data-shape="square"]::before {
    border-radius: 0rem;
  }

  &[data-shape="round"]::before {
    border-radius: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }

  &:is(:hover, :focus-visible) {
    transition: filter 0.3s ease;
    filter: brightness(90%);
  }

  &:active {
    transition: filter 0.3s ease;
    filter: brightness(80%);
  }

  // button-disabled
  &[aria-disabled="true"] {
    pointer-events: none;
    transition: filter 0.3s ease;
    filter: brightness(80%);
  }

  // button-shape
  &[data-shape="square"] {
    border-radius: 0em;
  }
  &[data-shape="round"] {
    border-radius: 1.5em;
  }

  // button-size
  &[data-size="small"] {
    font-size: $small;
    padding: $small-pd-y $small-pd-x;
    > svg {
      width: $small;
      height: $small;
    }
  }
  &[data-size="medium"] {
    font-size: $medium;
    padding: $medium-pd-y $medium-pd-x;
    > svg {
      width: $medium;
      height: $medium;
    }
  }
  &[data-size="large"] {
    font-size: $large;
    padding: $large-pd-y $large-pd-x;
    > svg {
      width: $large;
      height: $large;
    }
  }

  // button-variant-color
  &[data-variant="contained"][data-theme="primary"] {
    color: white;
    background-color: $primary-main;
    border: 1px solid $primary-main;
  }
  &[data-variant="outlined"][data-theme="primary"] {
    color: $primary-main;
    background-color: white;
    border: 1px solid $primary-main;
  }
  &[data-variant="contained"][data-theme="danger"] {
    color: white;
    background-color: $red-main;
    border: 1px solid $red-main;
  }
  &[data-variant="outlined"][data-theme="danger"] {
    color: $red-main;
    background-color: white;
    border: 1px solid $red-main;
  }
  &[data-variant="contained"][data-theme="success"] {
    color: white;
    background-color: $green-main;
    border: 1px solid $green-main;
  }
  &[data-variant="outlined"][data-theme="success"] {
    color: $green-main;
    background-color: white;
    border: 1px solid $green-main;
  }
}
