@import "@/assets/styles/settings/media";

/* Object Layer */

// 70px = header・footer
// 3rem = padding

@mixin base-container {
  width: 100%;
  min-height: calc(100vh - 70px - 3rem);
}

.container-pc {
  @include base-container;
}

.container-sp {
  @include base-container;
  max-width: 576px;
  margin: auto;
  &[data-footer="true"] {
    margin-bottom: 70px;
    @include sp {
      margin-bottom: 132px;
    }
  }
}

.container-inner {
  padding: 1rem 1rem 2rem 1rem;
}
