@import "@/assets/styles/settings/color";

.base-input {
  width: 100%;
  color: #374151;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.1s, box-shadow 0.1s;
  padding: 0.75rem 1rem;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus {
    border-color: $primary-dark;
    box-shadow: 0 0 0 1px $primary-dark;
  }
  &[data-error="true"] {
    border-color: $red-dark;
  }
  &[data-error="true"]:focus {
    box-shadow: 0 0 0 1px $red-dark;
  }
}
