/* Object Layer */

// 70px = headerの高さ

@mixin base-container {
  width: 100%;
  min-height: calc(100vh - 70px);
}

.container-pc {
  @include base-container;
}

.container-sp {
  @include base-container;
  width: 576px;
  margin: auto;
}
