@import "@/assets/styles/settings/color";

.input-choice-label {
  align-items: center;
  color: black;
  display: inline-flex;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.input-choice-label[data-variant="card"] {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  &:has(.input-choice-input:checked) {
    border: solid 1px $blue-dark;
    background-color: $blue-bg;
  }
  &:has(.input-choice-input[data-error="true"]) {
    border: solid 1px $red-dark;
    background-color: $red-bg;
  }
  &:has(.input-choice-input:disabled) {
    opacity: 0.3;
  }
}

// size
.input-choice-label[data-variant="card"][data-size="small"] {
  padding: 0.5rem 1rem;
  min-width: 100px;
  justify-content: center;
}
.input-choice-label[data-variant="card"][data-size="medium"] {
  padding: 1rem 2rem;
  min-width: 200px;
  justify-content: center;
}
.input-choice-label[data-variant="card"][data-size="large"] {
  padding: 1.5rem 3rem;
  min-width: 300px;
  justify-content: center;
}

.input-choice-icon {
  align-items: center;
  border: solid 1px black;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 0.875em;
  justify-content: center;
  background-color: white;
  color: lightgrey;
}

// NOTE:「+」を使うことでpropsをinputに集約することができる
// NOTE:親子関係であれば擬似要素hasを使った方が良いと思うが同じ階層の場合は+の方が良いのか
.input-choice-input:checked + .input-choice-icon {
  border: solid 1px $blue-dark;
  background-color: $blue-bg;
  color: $blue-dark;
}

.input-choice-input[data-error="true"] + .input-choice-icon {
  border: solid 1px $red-dark;
  background-color: $red-bg;
  color: $red-dark;
}

.input-choice-input:disabled + .input-choice-icon {
  opacity: 0.3;
}

// NOTE:childrenが存在すればmarginを当てる
.input-choice-text:not(:empty) {
  margin-left: 8px;
}

// NOTE:これは存在するorしないが確定していないから「~」を指定している?
.input-choice-input:checked ~ .input-choice-text {
  color: black;
}

.input-choice-input:disabled ~ .input-choice-text {
  color: black;
  opacity: 0.3;
}
