@import "@/assets/styles/utilities/line-clamp";
@import "@/assets/styles/settings/color";
@import "@/assets/styles/objects/base-text";

.cart-item-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

// image
.cart-item-image-wrapper {
  width: 30%;
}
.cart-item-image {
  width: 100%;
  border-radius: 0.5rem;
  height: 100px;
}

// content
.cart-item-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.cart-item-title {
  font-size: 1rem;
  font-weight: 600;
  color: #4a5568;
  composes: _line-clamp-3;
}

.cart-item-price {
  font-size: 0.875rem;
  font-weight: 500;
  color: #cbd5e0;
}

// button
.cart-item-button-wrapper {
  align-content: space-around;
  display: grid;
}
