@import "@/assets/styles/objects/base-text";
@import "@/assets/styles/settings/color";

.profile-card-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid $border;
  border-radius: 0.5rem;
}

.profile-card-flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile-card-avatar {
  overflow: hidden;
  border-radius: 0.5rem;
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.profile-card-between-wrapper {
  display: grid;
  align-content: space-evenly;
}

.profile-card-name {
  composes: text-normal;
  font-weight: 600;
  display: block;
}

.profile-card-text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  // https://github.com/css-modules/css-modules/issues/190
  composes: text-x-small;
  color: $grey-main;
}
