@import "@/assets/styles/app.scss";

.drag-and-drop-button {
  composes: button from "../../buttons/Button/styles.module.scss";
  min-width: 200px;
}

.drag-and-drop-text {
  composes: _line-clamp-1 -grey;
}

.drag-and-drop-file {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 100%;
}
