@import "@/assets/styles/settings/color";
@import "@/assets/styles/objects/base-button";
@import "@/assets/styles/objects/base-text";

.input-file-file {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid $border;
  border-radius: 0.5rem;
  width: 100%;
}
.input-file-text {
  composes: text-small;
  color: $grey-main;
  text-align: center;
}
.input-file-button {
  composes: button;
}
