@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/objects/base-text.module';

/* 厳密に定義するなら以下にする */
/* &:has(> .match-history-content-wrapper > .match-history-message-wrapper[data-current-user='true']) */
.match-history-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &:has(> * > .match-history-message-wrapper[data-current-user='true']) {
    justify-content: flex-end;
  }
}

/* 厳密に定義するなら以下にする */
/* &:has(~ .match-history-content-wrapper > .match-history-message-wrapper[data-current-user='true']) */
.match-history-user-thumbnail-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  flex-wrap: nowrap;
  &:has(~ * > .match-history-message-wrapper[data-current-user='true']) {
    display: none;
  }
}

.match-history-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  &:has(> .match-history-message-wrapper[data-current-user='true']) {
    display: grid;
    justify-items: flex-end;
  }
}

.match-history-message-wrapper {
  border: 1px solid $border;
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
  background-color: $white;
  &[data-current-user='true'] {
    background-color: $primary-bg;
  }
}

.match-history-text {
  composes: text-x-small;
  color: $grey-main;
}

.match-history-message {
  composes: text-small;
  color: $grey-main;
  overflow-wrap: break-word;
  > a {
    color: $blue-main;
    text-decoration: underline;
  }
}
