// @import "@/assets/styles/app.scss";

.icon-button-group-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 1rem;
}

.icon-button-group-inner {
  border-right: 1px solid grey;
  &:last-child {
    border: none;
  }
}
