@import "@/assets/styles/settings/color";
@import "@/assets/styles/objects/base-text";

.remove-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.remove-dialog-text {
  composes: text-normal;
  font-weight: bold;
  color: $grey-main;
}
