@import '@/assets/styles/settings/color';

.input-toggle {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 52px;
}

.input-toggle-label {
  align-items: center;
  color: black;
  display: inline-flex;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.input-toggle-text:not(:empty) {
  margin-right: 8px;
}

.input-toggle-input {
  opacity: 0;
  outline: none;
}

.input-toggle-input:disabled ~ .input-toggle-visual {
  opacity: 0.3;
}

// off bg
.input-toggle-visual {
  background-color: rgba(0 0 0 / 32%);
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// on bg
.input-toggle-input:checked ~ .input-toggle-visual {
  background-color: $blue-bg;
}

// off main
.input-toggle-visual::before {
  background-color: $white-main;
  border: solid 1px $white-main;
  border-radius: 100%;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: transform ease-out 0.3s;
  width: 24px;
}

// on main
.input-toggle-input:checked ~ .input-toggle-visual::before {
  background-color: $blue-main;
  border: solid 1px $blue-main;
}

.input-toggle-input:checked ~ .input-toggle-visual::before {
  transform: translate(20px, 0);
}

// 選択する範囲を少し拡大させる
.input-toggle-outline {
  border-radius: 16px;
  bottom: -2px;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: -1;
}
