// @import "@/assets/styles/app.scss";

.text-button {
  &[data-color="black"] {
    color: black;
  }
  &[data-color="grey"] {
    color: #6b7280;
  }
  &[data-color="blue"] {
    color: blue;
  }
}
