@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/objects/base-text.module';
@import '@/assets/styles/utilities/line-clamp.module';

.table-row {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  border: 1px solid $border;

  &:hover {
    background-color: $white-main;
  }
}

.table-data {
  padding: 1rem;
}

.table-title {
  composes: text-normal;
  composes: _line-clamp-1;
  font-weight: bold;
  color: $grey-dark;
  margin-bottom: 0.25rem;
}

.table-annotation {
  composes: text-small;
  composes: _line-clamp-1;
  color: $grey-light;
}
