@import '@/assets/styles/settings/color';

// $icon-button-width: 36px;
// $dialog-side-padding: 4rem;

// $center-position: calc(icon-button-width + $dialog-side-padding) / 2;

.swiper-container {
  display: flex;
  position: relative;
  border: 1px solid $border;
  border-radius: 0.5rem;
}
.swiper-slide {
  display: flex;
  align-items: center;
}
.swiper-left-button {
  position: absolute;
  left: calc(-2rem + -18px);
  top: 50%;
}
.swiper-right-button {
  position: absolute;
  right: calc(-2rem + -18px);
  top: 50%;
}
