@import "@/assets/styles/settings/media";

.swiper-container {
  display: flex;
  position: relative;
}
.swiper-left-button {
  position: absolute;
  left: -50px;
  top: 50%;
  @include sp {
    display: none;
  }
}
.swiper-right-button {
  position: absolute;
  right: -50px;
  top: 50%;
  @include sp {
    display: none;
  }
}
