@import "@/assets/styles/settings/color";
@import "@/assets/styles/settings/media";

.index-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.index-center-wrapper {
  display: flex;
  justify-content: center;
}

.index-text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: $white-main;
  @include sp {
    font-size: 1.5rem;
  }
}

.index-label {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: $white-main;
  @include sp {
    font-size: 1rem;
  }
}
