@import "@/assets/styles/settings/color";
@import "@/assets/styles/settings/media";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border;
  height: 70px;
  position: fixed;
  bottom: 0;
  background: $white;
  width: 100%;
  @include sp {
    height: auto;
  }
}

.footer-button-wrapper {
  @include sp {
    padding: 1rem;
    width: 100%;
  }
}

.footer-button {
  width: 200px;
  @include sp {
    width: 100%;
  }
}
