@import '@/assets/styles/settings/color';
@import '@/assets/styles/settings/media';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border;
  height: 70px;
  position: fixed;
  bottom: 0;
  background: $white;
  width: 100%;
  z-index: 2;
  @include sp {
    height: auto;
  }
}

.footer-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  @include sp {
    padding: 1rem;
    width: 100%;
    flex-direction: column;
  }
}

.footer-button {
  width: 200px;
  @include sp {
    width: 100%;
  }
}
