/* Setting Layer */

/* black */
$black: #000;
$carbon: #333;
$black-main: #2d3748;
$black-dark-grey: #363636;
$chakra-colors-menu-bg: #181c2c; // sidebar-color

/* grey */
$grey: grey;
$grey-dark: #444;
$grey-main: #5c616a; // sub text color
$grey-light: #999;

/* white */
$white: #ffffff;
$white-main: #f4f4f4;
$white-light: #fafafa;

/* blue */
$blue-dark: #1565c0;
$blue-main: #1976d2;
$blue-light: #42a5f5;
$blue-bg: #bfdbfe;

/* green */
$green-dark: #1b5e20;
$green-main: #2e7d32;
$green-light: #4caf50;
$green-bg: #c6f6d5;

/* red */
$red-dark: #c62828; // error-color
$red-main: #d32f2f;
$red-light: #ef5350;
$red-bg: #fecaca;

/* theme */
$secondary: #00b4e7;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
$overlay: rgba(0, 0, 0, 0.6);

/* border */
$border: lightgrey;
