/* Setting Layer */

/* black */
$black: #000;
$black-dark-grey: #363636;

/* grey */
$grey: #808080;
$carbon: #333;
$goshawk-grey: #444;
$basalt-grey: #999;

/* white */
$white: #ffffff;
$white-dr-white: #fafafa;
$lighthouse: #f4f4f4;

/* blue */
$dragon-bay: #5ea79d; // dark
$vintage-blue: #84bcb4; // main
$blue-angora: #aad1cb; // light

/* green */
$devils-grass: #4caf50; // mui palette > success

/* red */
$spicy-berry: #d13267; // error
$pop-that-gum: #f472b6; // main
$amour: #ef5350; // mui palette > danger
$baby-girl: #ffe2e7; // error bg

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
$overlay: rgba(0, 0, 0, 0.6);
