.center-wrapper {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  z-index: -1;
  &[data-background="index"] {
    background-image: url("../../../assets/images/image_index_bg.jpg");
    background-size: cover;
  }
}

.center-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
