@import "@/assets/styles/objects/base-text";
@import "@/assets/styles/settings/color";

.tos-title {
  composes: text-large;
  margin-bottom: 1rem;
}

.tos-text {
  composes: text-x-small;
  color: $grey-main;
  margin-bottom: 1rem;
}
