@import "@/assets/styles/objects/base-text";
@import "@/assets/styles/settings/color";

.preview-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-dialog-text {
  composes: text-normal;
  font-weight: bold;
  color: $grey-main;
}

.preview-dialog-image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.preview-dialog-image {
  object-fit: cover;
  border-radius: 0.5rem;
}
