@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/tools/main.module';

.tool-tip {
  animation: 0.5s fade-in;
  background: $primary-dark;
  color: $white;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  z-index: 5;
  width: max-content;

  display: none;

  &[data-is-fade-out='true'] {
    animation: 0.5s fade-out;
    opacity: 0;
  }
}
