@import "@/assets/styles/settings/color";
@import "@/assets/styles/tools/main";


.tool-tip {
  animation: 0.1s fade-in;
  background: $primary-dark;
  color: $white;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  max-width: 270px;
  z-index: 5;

  display: none;

  &[data-is-fade-out="true"] {
    animation: 0.1s fade-out;
    opacity: 0;
  }
}
