@import '@/assets/styles/settings/media.module';

.dialog {
  &[open] {
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    &[data-swiper='true'] {
      padding: 2rem 4rem;
    }
  }

  &::backdrop {
    background: rgba(0 0 0 / 32%);
    backdrop-filter: blur(3px); /* 一番下のbody領域をぼやかす */
  }

  // dialog-width
  &[data-width='auto'] {
    width: auto;
  }
  &[data-width='sp'] {
    width: 576px;
    @include sp {
      width: auto;
    }
  }
  &[data-width='quarter'] {
    width: 25%;
    @include sp {
      width: auto;
    }
  }
  &[data-width='half'] {
    width: 50%;
    @include sp {
      width: auto;
    }
  }
  &[data-width='full'] {
    width: 100%;
  }
}
