@import "@/assets/styles/settings/color";
@import "@/assets/styles/settings/media";

.login-body-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
}

.login-body-center-wrapper {
  display: flex;
  justify-content: center;
}

.login-body-text {
  font-size: 0.875rem;
  text-align: center;
  color: $grey-main;
}

.login-body-label {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: $grey-main;
}

// ログインボタン
.login-body-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: auto;
}

.login-body-button {
  position: relative;
  &::before {
    background: $overlay;
    border-radius: 0.1rem;
    inset: 1px;
    content: "";
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
  }
  &[aria-disabled="false"] {
    pointer-events: none;
    transition: opacity 0.3s ease;
    &::before {
      opacity: 0.3;
    }
  }
}
