@import '@/assets/styles/settings/color.module';
@import '@/assets/styles/settings/media.module';

.login-body-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
}

.login-body-center-wrapper {
  display: flex;
  justify-content: center;
}

.login-body-text {
  font-size: 0.875rem;
  text-align: center;
  color: $grey-main;
}

.login-body-label {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: $grey-main;
}

// ログインボタン
.login-body-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: auto;
}

.login-body-button {
  transition: filter 0.3s ease;
  filter: brightness(100%);
  &[aria-disabled='false'] {
    pointer-events: none;
    transition: filter 0.3s ease;
    filter: brightness(80%);
  }
}
