@import "@/assets/styles/settings/color";
@import "@/assets/styles/objects/base-text";

.table-row {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  border: 1px solid $border;

  &:hover {
    background-color: $white-main;
  }
}

.table-data {
  padding: 1rem;
}

.table-name {
  composes: text-normal;
  font-weight: bold;
  color: $grey-dark;
}

.table-annotation {
  composes: text-small;
  color: $grey-light;
}
