@import '@/assets/styles/objects/base-text.module';
@import '@/assets/styles/settings/color.module';

.product-detail-title {
  composes: text-large;
  font-weight: bold;
  color: $grey-main;
}
.product-detail-price {
  composes: text-large;
  color: $red-main;
  font-weight: 600;
}
.product-detail-text {
  composes: text-normal;
  color: $grey-main;
  overflow-wrap: break-word;
}
