@import "@/assets/styles/settings/color";

.profile-menu-trigger-button {
  width: 40px;
  height: 40px;
}

.profile-menu-item {
  border-bottom: 1px solid $border;
  &:first-child {
    border-top: 1px solid $border;
  }
}

.profile-menu-anchor-button {
  width: 100%;
  justify-content: normal !important;
}
